* {
  box-sizing: border-box;
}

#root {
  height: 100%;
}

body {
  width: 56.25vh;
  height: 95vh;
}

#app {
  height: 100%;
  padding: 5px 5px 0 5px;

}

.navbar {
  height: 11.25%;
}

.nav-options {
  height: 100%;
  margin: auto;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  li {
    font-size: 150%;
    font-weight: bold;
    padding: 0 10px 0 10px;
    & + li {
      border-left: 1px solid black;
    }
  }
}

.current-panel {
  height: 88.75%;
  .pet-profile-large {
    height: 100%;
    .img-container {
      height: 57%;
      img {
        display: block;
        margin: auto;
        border: 1px solid black;
        max-width: 100%;
        max-height: 100%;
      }
    }
    .summary {
      height: 43%;;
      .info {
        margin-left: 5px;
        display: flex;
        align-items: center;
        height: 25%;
        span {
          font-size: 150%;
          font-weight: bold;
        }
      }
      .blurb {
        border: 1px solid black;
        font-size: 120%;
        font-weight: bold;
        overflow: hidden;
        overflow-y: scroll;
        padding: 10px;
        height: 75%;
      }
    }
  }
  .pet-profile-small {
    display: flex;
    border: 1px solid black;
    padding: 5px;
    height: 70px;
    .img-container {
      max-width: 22%;
      overflow-y: hidden;
      img {
        width: 100%;
      }
    }
    .summary {
      margin-left: 5px;
      .info {
        height: 49%;
        width: 100%;
      span {
        font-size: 150%;
        font-weight: bold;
      }
    }
    .blurb {
      align-self: flex-end;
      height: 49%;
      overflow: hidden;
      font-size: 85%;
    }
    }
  }
  .saved-pets-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 100%;
    overflow-y: scroll;
    li {
      margin-bottom: 5%;
    }
  }
}

.adopter-preferences {
  & > div {
    margin-left: 10px;
  }
}

.rocker-switch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .options {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0 10px 0 10px;
    & input { 
      opacity: 0;
      width: 0;
      height: 0;
      &:checked + .slider:before {
        transform: translateX(26px);
      }
    }
    .slider {
      position: absolute;
      cursor: pointer;
      border-radius: 5px;
      border: 1px solid black;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgb(109,158,235);  
      transition: .4s;
      &:before {
        position: absolute;
        box-sizing: border-box;
        border: 1px solid black;
        border-radius: 50%;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        transition: .4s;
      }
    }
  }
}



